/*
Placeholder for custom user CSS

mainly to be overridden in profile/static/custom/custom.css

This will always be an empty file in IPython
*/

#notebook{
  width: 1320px;
}

#notebook-container{
  width: 1280px;
}

.text_cell.rendered{
  width: 1250px;
}

.rendered_html{
  width: 1250px;
}

div.cell.selected{
  width: 1250px;
}

div.cell {
  width: 1250px;
}

#MathJax-Span-420{
  width: 1000px;
}

div.MathJax_Display{
  width: 1100px;
}